* {
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}

.contenedor {
    padding: 0px;
    margin: auto;
    width: 600px;
    height: 400px;
    background-color: #ffb;
    border: 1px dashed #993;
    background-image: url("https://i.pinimg.com/564x/7f/cd/68/7fcd68182678d32c297b38721d83b23b.jpg");
}

.button {
    background-color: rgb(61, 68, 130);
}


#player {
	background-color: #900;
	border: 4px dashed #b22;
	width: 50px;
	height: 50px;
	border-radius: 29px;
	position: absolute;
	transition: all 0.3s
}
.pointer {
	background-color: #444;
	height: 30px;
	margin-top: 30px;
	border-bottom: 0px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	padding: 10px 0px;
}